<ngb-carousel class="container">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/images/home-office-336581_1280.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">

    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/images/pants-1255847_1280.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption">

    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/images/pants-1255847_1280.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">

    </div>
  </ng-template>
</ngb-carousel>
<div class="container pt-5">
  <div class="row">
    <div *ngFor="let blog of blo">
      <div class="card cardstyle mr-5 mb-5">
        <button class="btn btn-danger btnsize">{{blog.name}}</button>
        <img src="{{blog.image}}"  class="image">
        <!--        <span class="item"><b>{{images.name}}</b></span>-->
        <!--        <span class="price"><b>₹{{images.price}}</b></span>-->
        <!--        <span class="off">{{images.off}}</span>-->
        <!--       <div class=" btn-info mt-1 bttn col-10" (click)="productdetails(images.productid)">Product Details</div>-->
        <!--        <div class="btn btncart mt-2 w-50 ml-auto mr-auto" (click)="addtocart(images.productid)">Add to cart</div>-->

        <p class="heading" ><b>{{blog.details}}</b></p>
        <p><span class="text-muted">By</span><span class="ml-2 text-info">{{blog.description}}</span></p>
<!--        <div class="btn btncart mt-2 w-50 ml-auto mr-auto" (click)="getdetails(blog.id)">Read more</div>-->
        <a href="/updateblog/{{blog.id}}">  Update Blog</a>
        <button class="btn btn-warning" (click)="Deleteblog(blog.id)" routerLink="/home">Delete Blogg</button>
      </div>
    </div>
  </div>



</div>
