<div class="row mr-auto ml-auto mt-5">
  <div class="card card1 ml-auto" *ngFor="let g of blo">
    <img  class="rounded circle text-center rounded-circle ml-4 mr-4 mt-2" src="assets/images/myprofile1.jpg" style="height:160px;width:160px;background-color:lightgray">
    <div class="usr ml-5 mt-2">@{{g.email}}</div>
    <!--    <div class="btn btncart mt-4 w-60 ml-5 mr-auto" (click)="editprofile()">Edit profile</div>-->
    <!--    <div class="btn btncart mt-4 w-70 ml-5 mr-auto" (click)="order()">Order history</div>-->
    <div class="mt-2">Username:<span class="pl-4 position">{{g.email}}</span></div>

    <div class="mt-2 ">Email<span class="pl-4 position">:</span> <span class="ml-5">{{g.email}}</span></div>
    <div *ngIf="!followingservice.checkfollowing()">
      <div class="mt-5 btn btn-primary" (click)="follow(g.id)">Follow</div>
    </div>
    <div *ngIf="followingservice.checkfollowing()">
      <div class="mt-5 btn btn-primary">Following</div>
    </div>
    <!--      <div class="mt-2">Contact <span class="pl-4 position">:</span><span class="ml-5">{{contact}}</span></div>-->
    <!--      <div class="mt-2">Gender <span class="pl-4 position">:</span><span class="ml-5">{{gender}}</span></div>-->
  </div>
</div>
