<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div style="font-family: 'Yeon Sung'"><a routerLink="/home" style="text-decoration: none"><h3>Welcome to </h3></a></div><span style="font-family: 'Yeon Sung'"><a routerLink="/home" style="text-decoration: none">&nbsp;<h3>Blogg.com</h3></a></span>


<!--  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

  <div class="collapse navbar-collapse" id="navbarCollapse">
<!--    <div class="navbar-nav">-->
<!--      <a href="#" class="nav-item nav-link active">Home</a>-->
<!--      <a href="#" class="nav-item nav-link">Profile</a>-->
<!--      <a href="#" class="nav-item nav-link">Messages</a>-->
<!--      <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>-->
<!--    </div>-->
<!--    <div class="navbar-nav ml-auto">-->
<!--      <a routerLink="/signup" class="nav-item nav-link">SignUp</a>-->
<!--      <a routerLink="/login" class="nav-item nav-link">Login</a>-->

<!--    </div>-->
    <div class="navbar-nav ml-auto">
    <div *ngIf="!this.authService.isUserLoggedIn()"  class = "p-2 "><a class="text-success" routerLink="/login">Login</a></div>
    <div *ngIf="!this.authService.isUserLoggedIn()"  class = "p-2"><a class="text-success" routerLink="/signup">SignUp</a></div>
    <div *ngIf="this.authService.isUserLoggedIn()"  class = "p-2"><a class="text-success" routerLink="/login" (click)="logout()">LogOut</a></div>
      <div *ngIf="this.authService.isUserLoggedIn()"  class = "p-2"><a class="text-success" routerLink="/profile">My Profile</a></div>
    <div *ngIf="this.authService.isUserLoggedIn()"  class = "p-2"><a class="text-success" routerLink="/newblog">Add New Blog</a></div>
    <div *ngIf="this.authService.isUserLoggedIn()"  class = "p-2"><a class="text-success" (click)="navi()">Following</a></div>
<div *ngIf="this.authService.isUserLoggedIn()"  class = "p-2"><a class="text-success" (click)="navi1()">user</a></div>

    </div>
  </div>
  </nav>
