
<div class="row mr-auto ml-auto mt-5">
  <div class="card card1 ml-auto">
    <img  class="rounded circle text-center rounded-circle ml-4 mr-4 mt-2" src="assets/image/myprofile1.jpg" style="height:160px;width:160px;background-color:lightgray">
    <div class="usr ml-5 mt-2">{{my.email}}</div>
    <div class="btn btncart mt-4 w-60 ml-5 mr-auto" routerLink="/editprofile">Edit profile</div>
    <!--    <div class="btn btncart mt-4 w-70 ml-5 mr-auto" (click)="order()">Order history</div>-->

  </div>

  <div class="container">
    <div class="card card1 bg-light p-4 col-lg-6">
      <!--    <img class="rounded circle text-center rounded-circle mx-auto" src="assets/image/myprofile1.jpg" style="height:120px;width:140px;background-color:lightgray">-->
      <div class="text-center"><h3>User details</h3></div>
      <div class="text-center" style="color:gray"><p></p></div>
      <div class="mt-2">Username:<span class="pl-4 position">{{my.email}}</span></div>
      <!--    <div>Password:{{password}}</div>-->
      <div class="mt-2 ">Email<span class="pl-4 position">:</span> <span class="ml-5">{{my.email}}</span></div>
      <div class="mt-2">Contact <span class="pl-4 position">:</span><span class="ml-5">{{my.contact}}</span></div>
      <div class="mt-2">Gender <span class="pl-4 position">:</span><span class="ml-5">{{my.address}}</span></div>
      <div *ngIf="!followingservice.checkfollowing()">
        <div class="mt-5 btn btn-primary" (click)="follow()">Follow</div>
      </div>
      <div *ngIf="followingservice.checkfollowing()">
        <div class="mt-5 btn btn-primary">Following</div>

      <!--    <div style="width:100%;height:50%">-->
      <!--      <div class="my-3"><p style="font-size:0.9rem"><i class='fas fa-map-marker-alt' style="margin-right:0.5rem"></i>Masjid Banda,Hyderabad<br><br><i class='fas fa-phone' style="margin-right:0.5rem"></i>9450788108<br><br><i class='far fa-envelope' style="margin-right:0.5rem"></i>vineet@beehyv.com<br><br>-->
      <!--        <i class='far fa-envelope' style="margin-right:0.5rem"></i><a href="#">http://home.iitk.ac.in/~vineetks</a><br><br>-->
      <!--        <i class="fas fa-language" aria-hidden="true" style="margin-right:0.5rem"></i>English</p></div>-->
      <!--    </div>-->
    </div>

    <!--  <div>-->
    <!--    <h3 class="ml-5">Order History</h3>-->
    <!--  <div class="card">-->
    <!--    <table class="table table-striped">-->
    <!--      <thead>-->
    <!--      <tr>-->
    <!--        <th>Item Name</th>-->
    <!--        <th>Date</th>-->
    <!--        <th>Price</th>-->
    <!--        <th>Quantity</th>-->
    <!--      </tr>-->
    <!--      </thead>-->
    <!--      <tbody>-->
    <!--      <tr *ngFor="let i of orderdata">-->
    <!--        <td>{{i.itemName}}</td>-->
    <!--        <td>{{i.date}}</td>-->
    <!--        <td>{{i.price}}</td>-->
    <!--        <td>{{i.quantity}}</td>-->
    <!--      </tr>-->
    <!--      </tbody>-->
    <!--    </table>-->
    <!--  </div>-->
    <!--</div>-->

  </div>
</div>
