
<div class="container">
  <div class="col-md-6 mx-auto text-center">
    <div class="header-title">
      <h1 class="wv-heading--title">
        Sign Up
      </h1>
      <h2 class="wv-heading--subtitle">
        Create a new Account for your Blogs
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="myform form ">
        <form action="" method="post" name="login">

          <div class="form-group">
            <input type="email" name="email"  class="form-control my-input" id="email" placeholder="Email" pattern=".+@gmail.com" [(ngModel)]="email" required>
          </div>
          <div class="form-group">
            <input type="text" name="address"  class="form-control my-input" id="address" placeholder="Address" [(ngModel)]="address" required>
          </div>
          <div class="form-group">
            <input type="number" min="0" name="phone" id="phone"  class="form-control my-input" placeholder="Contact" [(ngModel)]="contact" required>
          </div>
          <div class="form-group">
            <input type="text" name="password" id="password"  class="form-control my-input" placeholder="Password" [(ngModel)]="password" required>
          </div>
          <div class="form-group">
            <input type="text" name="confirm" id="confirm"  class="form-control my-input" placeholder="Confirm Password" [(ngModel)]="confirm" required>
          </div>

          <div class="text-center ">
            <button type="submit" class=" btn btn-block send-button tx-tfm" (click)="signupmethod()">Create Your Free Account</button>
          </div>
          <div class="col-md-12 ">
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">or</span>
            </div>
          </div>
          <div class="form-group">
            <a class="btn btn-block g-button" href="#">
              <i class="fa fa-google"></i> Sign up with Google
            </a>
          </div>
          <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
