<div class="container">
  <h1>Edit Profile</h1>
  <hr>
  <div class="row">
    <!-- left column -->
<!--    <div class="col-md-3">-->
<!--      <div class="text-center">-->
<!--        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">-->
<!--        <h6>Upload a different photo...</h6>-->

<!--        <input type="file" class="form-control">-->
<!--      </div>-->
<!--    </div>-->

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <!--      <div class="alert alert-info alert-dismissable">-->
      <!--        <a class="panel-close close" data-dismiss="alert">×</a>-->
      <!--        <i class="fa fa-coffee"></i>-->
      <!--        This is an <strong>.alert</strong>. Use this to show important messages to the user.-->
      <!--      </div>-->
      <h3>Personal info</h3>

      <form >
        <!--        <div class="form-group">-->
        <!--          <label class="col-lg-3 control-label">First name:</label>-->
        <!--          <div class="col-lg-8">-->
        <!--            <input class="form-control" type="text" value="Jane">-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <!--          <label class="col-lg-3 control-label">Last name:</label>-->
        <!--          <div class="col-lg-8">-->
        <!--            <input class="form-control" type="text" value="Bishop">-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <!--          <label class="col-lg-3 control-label">Company:</label>-->
        <!--          <div class="col-lg-8">-->
        <!--            <input class="form-control" type="text" value="">-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" type="email"  name="email" value={{my.email}} [(ngModel)]="email">
          </div>
        </div>
        <div class="form-group">
          <!--          <label class="col-lg-3 control-label">Time Zone:</label>-->
          <!--          <div class="col-lg-8">-->
          <!--            <div class="ui-select">-->
          <!--              <select id="user_time_zone" class="form-control">-->
          <!--                <option value="Hawaii">(GMT-10:00) Hawaii</option>-->
          <!--                <option value="Alaska">(GMT-09:00) Alaska</option>-->
          <!--                <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>-->
          <!--                <option value="Arizona">(GMT-07:00) Arizona</option>-->
          <!--                <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>-->
          <!--                <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>-->
          <!--                <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>-->
          <!--                <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>-->
          <!--              </select>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
<!--        <div class="form-group">-->
<!--          <label class="col-md-3 control-label">Username:</label>-->
<!--          <div class="col-md-8">-->
<!--            <input class="form-control" type="text" name="username">-->
<!--          </div>-->
<!--        </div>-->
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input class="form-control" type="password" name="password" value={{my.password}} [(ngModel)]="password" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" >Confirm password:</label>
          <div class="col-md-8">
            <input class="form-control" type="password" value={{my.password}} name="confirm password" [(ngModel)]="confirm">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Contact No:</label>
          <div class="col-md-8">
            <input class="form-control" type="number" value={{my.contact}} [(ngModel)]="contact" name="contact">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Address :</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value={{my.address}} name="address" [(ngModel)]="address">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button (click)="savechanges()" class="btn btn-warning" routerLink="/login">SaveChanges</button>
            <span></span>
            <input type="reset" class="btn btn-default" value="Cancel">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
